* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    background-image: url("./assets/download.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .btn {
    width: 19%;
    background-color: lightgreen;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 14px;
  }
  .btn:hover {
    background-color: rgb(255, 6, 6);
  }
  
  .btn:active {
    transform: translateY(6px);
  }
  .boxstyle{
    background-color: lightgray;
  }
  